[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace.git
[submodule "bundle/toggle_comment"]
	path = bundle/toggle_comment
	url = git://github.com/vim-scripts/toggle_comment.git
[submodule "bundle/Wombat"]
	path = bundle/Wombat
	url = git://github.com/vim-scripts/Wombat.git
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/vim-distinguished"]
	path = bundle/vim-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
